[submodule "fast-xml-viewer"]
	path = fast-xml-viewer
	url = git@github.com:nana-boateng/fast-xml-viewer.git
[submodule "hibid"]
	path = hibid
	url = git@github.com:nana-boateng/hibid-notifi.git
[submodule "finance-my-film"]
	path = finance-my-film
	url = git@github.com:nana-boateng/finance-my-film.git
[submodule "cinema-pdf-parser"]
	path = cinema-pdf-parser
	url = git@github.com:nana-boateng/cinema-pdf-parser.git
